body {
  background: url('../img/oink.jpg')
}

#pig-dice-game {
  display: none;
}

#newGame {
  padding: 10px;
  margin: 10px;
}

#btnimg{
  margin-top: 2em;
  text-align: center;
  padding-base-vertical:6px;
}

#newGame {
  color: white;
  font-size: 16px;
  background:url("../img/led-dice.jpg");
  background-size: 100%;
  width:90px;
  height:75px;
  background-repeat: no-repeat;
  text-shadow:
    -1px -1px 2px #000,
    1px -1px 2px #000,
    -1px 1px 2px #000,
    1px 1px 2px #000;
}

.container {
  margin-top: 30px;
  background-color: #DED5C1;
  border-radius: 20px;
  box-shadow: 10px 10px 5px #A39D8E;
  height: auto;
}

.jumbotron {
  background-color: #DED5C1;
}

.jumbotron h1 {
  margin-left: 41%;
  font-size: 108px;
  text-align: center;
  position: absolute;
  font-family: 'Kaushan Script', cursive;  text-shadow:
      -1px -1px 5px #F0B4B4,
      1px -1px 5px #F0B4B4,
      -1px 1px 5px #F0B4B4,
      1px 1px 5px #F0B4B4;
}

.jumbotron img {
  position: relative;
  top: 0;
  left: 0;
}
